body {
    font-family:Helvetica;
    background-position: center center;
    background-size: cover;
  }
  .container {
    position: relative;
    overflow: hidden;
  }
  img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
    opacity: 0.2;
  }
  h1 {
    color: red;
    font-style: italic;
    font-weight: bold;
  }
  h2 {
    color:green;
    font-style: italic;
    font-weight: bold;
  } 
  p {
    font-size:larger;
    font-weight: bold;
  }
  #p {
    color: green;
    font-style: italic;
    font-weight: bold;
  }